{% extends "base.html" %}

{% block titulo %}Ventas{% endblock %}

{% block contenido %}

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>TIENDA</th>
                    <th>TIPO VENTA</th>
                    <th>NRO RECIBO</th>
                    <th>TOTAL VENTA S/</th>
                    <!-- Add more headers as needed -->
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.44 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.16 }}</td>
                    <!-- Add more columns as needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
